/* css reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* navbar */
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 12px;
}

header nav img {
  width: 150px;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.listNavbar {
  font-size: 18px;
  color: gray;
}

header nav ul li .active {
  font-weight: 900;
  color: #064159;
}

.listNavbar:hover {
  color: #064159;
}

/* footer */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
  background-image: linear-gradient(to bottom right, #67c3f3, #5a98f2);
  padding: 50px 0px;
}

footer .left img {
  width: 180px;
}

footer .left p {
  color: white;
  font-size: 18px;
  width: 390px;
  margin: 20px 0px;
}

footer .left div {
  color: white;
  width: 390px;
}

footer .right {
  display: flex;
  align-items: start;
  justify-content: space-around;
  gap: 80px;
}

footer .right div span {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
  display: block;
}

footer .right div ul li {
  color: white;
  margin-bottom: 10px;
}
